@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        img {
            margin-top: 5%;
        }
        .images {
            padding-left: 15%;
        }
        .message {
            font-size:25px;
        }
        button {
            background-color: green;
            border: 2px solid black;
            color: white;
            border-radius: 15%;
            text-align: center;
            margin-top: 5%;
            margin-left: 45%;
        }
    </style>
</head>

<div class="text-center">
    <h1 class="display-4">Welcome to Lim's Garden</h1>
    <p class="message">Here, we eat things fresh!</p>
</div>

<div class="images">
    <img href="https://www.flickr.com/photos/186232668@N06/49744556028/in/dateposted-public/" src="https://live.staticflickr.com/65535/49744556028_0518ee616b_m.jpg"alt="" width="240" height="160" />
    <img href="https://www.flickr.com/photos/186232668@N06/49745455692/in/dateposted-public/" src="https://live.staticflickr.com/65535/49745455692_375b97db8c_m.jpg"alt="" width="240" height="160" />
    <img href="https://www.flickr.com/photos/186232668@N06/49745142821/in/dateposted-public/" src="https://live.staticflickr.com/65535/49745142821_dc907f0e7e_m.jpg"alt="" width="240" height="160" />
</div>

<div>
    <button>Shop Now!</button>
</div>
